<div class="interior_banner">
  <h2>Uh oh...</h2>
</div>
<div class="content">
  
  <p>Something went wrong. Can the Catcher web service connect to your CONTENTdm server?</p>
  
  <p>If it took a long time for this page to load, then the Catcher web service timed out while trying to connect to your server. Make sure your server url is correct and that your server is publicly accessible. Then try again.</p>

</div>
