<div class="interior_banner">
  <h2>Test Connection</h2>
</div>
<div class="content">
<p>Verify that CONTENTdm’s Catcher web service can communicate with your server.</p>
<form action="/test" method="POST" enctype="multipart/form-data">
  <label for="cdmurl">cdm url</label><br />
  <input type='text' size=50 name='cdmurl' required /><br /><br />
  <label for="uname">username</label><br />
  <input type='text' name='uname' required /><br /><br />
  <label for="pword">password</label><br />
  <input type='text'  name='pword' required /><br /><br />
  <input type='submit' value='Check connection' />
</form>

</div>
