<div class="interior_banner">
  <h2>Tested!</h2>
</div>
<div class="content">
<p>If the Catcher web service connected to your server successfully, you'll see a "CONTENTdm HTTP Transfer Version" below. If not, you'll see a message detailing the connection error.</p>
<br />
<br />

<%= message %>

</div>
